body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to top, #003D6D, #008786);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

